

<div class="card">
  <div class="card-header">
    <h4>Edytuj profil <% resource_name.to_s.humanize %></h4>
  </div>
  <div class="card-body">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control", placeholder:"Email" %>
  </div>
<br>
  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field form-group">
    <%= f.label :Hasło %> <i>(Zostaw puste, jeśli nie chesz zmienić)</i><br />
    <%= f.password_field :Hasło, autocomplete: "new-password", class:"form-control", placeholder:"Hasło" %>
    <% if @minimum_password_length %>
      <em><%= @minimum_password_length %> znaków minimum</em>
    <% end %>
  </div>
<br>
  <div class="field form-group">
    <%= f.label :Potwierdzenie_hasła %><br />
    <%= f.password_field :Potwierdzenie_hasła, autocomplete: "new-password", class:"form-control", placeholder:"Potwierdzenie hasła" %>
  </div>
<br>
  <div class="field form-group">
    <%= f.label :Bieżące_hasło %> <i>(Potrzebujemy twojego obecnego hasła, aby potwierdzić zmiany)</i><br />
    <%= f.password_field :Bieżące_hasło, autocomplete: "current-password", class:"form-control", placeholder:"Bieżące hasło" %>
  </div>
<br>
  <div class="actions">
    <%= f.submit "Aktualizuj", class:"btn btn-secondary"  %>
  </div>
<% end %>
  </div>
</div>

<br>


<div class="card">
  <div class="card-header">
    <h4>Anuluj swoje konto</h4>
  </div>
  <div class="card-body">
    <h5 class="card-title">Niezadowolony?</h5>
    <p class="card-text"><%= button_to "Anuluj swoje konto", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class:"btn btn-danger" %></p>
  </div>
</div>

<br>



<%= link_to "Powrót", :back %>
