

<div class="jumbotron">
  <h1 class="display-4"><%= przepisy.nazwa %></h1>
  <p class="lead">
  <p>
    <strong>Opis:</strong>
    <%= przepisy.opis %>
  </p>
  <p>
    <strong>Stopień trudności:</strong>
    <%= przepisy.stopien_trudnosci %>
  </p>

  <p>
    <strong>Czas przygotowania:</strong>
    <%= przepisy.czas_przygotowania %>
  </p>

  <p>
    <strong>Ocena użytkowników:</strong>
    <%= przepisy.ocena_uzytkownikow %>
  </p>

  <p>
    <strong>Kategoria:</strong>
    <%= przepisy.kategoria %>
  </p></p>
  <hr class="my-4">
</div>
